@{
    ViewBag.Title = "ASPformEmailResults";
}

<h2>ASPformEmailResults</h2>

@*<%
Dim mail, body

body = "Major: " & Request.Form("major") & vbcrlf & vbcrlf & "Feedback: " & Request.Form("feedback")

Set mail = Server.CreateObject("CDO.Message")
mail.To = Request.Form("To")
mail.From = Request.Form("From")
mail.Subject = Request.Form("Subject")
mail.TextBody = body
mail.Send()

Response.Write("Thanks for submitting the feedback.")

Set mail = nothing
Set body = nothing
%>*@