@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>313.782.7405</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>248.877.1167</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:HeatherGrewette@quickenloans.com">HeatherGrewette@quickenloans.com</a></span>
    </p>
    <p>
        <span class="label">Development:</span>
        <span><a href="mailto:HeatherGrewette@quickenloans.com">HeatherGrewette@quickenloans.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:HeatherGrewette@quickenloans.com">HeatherGrewette@quickenloans.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Compuware<br />
        11 Monroe, Row 18, Desk 3
    </p>
</section>